@model IOS_PROJECT3.ViewModels.EditInstitutionViewModel
@{
    ViewBag.Title = "Редактирование института";
}
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <form method="post" asp-action="Edit" asp-controller="Institutions">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label">Введите название:</label>
            <input type="text" asp-for="Name" class="form-control" />
            <input type="hidden" asp-for="Idinst" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ManagerId" class="control-label">Выберите менеджера:</label>
            <select asp-for="ManagerId" class="form-control">
                @foreach (var man in Model.AvailableManagers)
                {
                    <option value="@man.Id">@man.FIO</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-outline-primary btn-block" />
        </div>
        <a class="btn btn-outline-secondary btn-block" asp-action="Index" asp-controller="Institutions">Назад</a>
    </form>
}
