@model IOS_PROJECT3.ViewModels.CreateForumEndpointViewModel
<head>
	<link rel="stylesheet" href="~/summernote/summernote-bs4.min.css">
	<script src="~/summernote/summernote-bs4.min.js"></script>
</head>
<h3>Создание статьи</h3>
<form method="post" asp-action="CreateForumEndpoint" asp-controller="Forum" enctype="multipart/form-data">
	<div asp-validation-summary="All" class="text-danger"></div>
	<div class="form-group">
		<input type="hidden" asp-for="ParentNodeId" class="form-control" />
		<input type="hidden" asp-for="CreatorEmail" class="form-control" />
		<label asp-for="EndpointName" class="control-label">Введите название:</label>
		<input type="text" asp-for="EndpointName" class="form-control" />
		<label asp-for="EndpointText" class="control-label">Введите текст статьи:</label>
		<textarea id="text-editor" type="text" asp-for="EndpointText" class="form-control"></textarea>
	</div>
	<div id="commentPreview" hidden="true">
		<label class="control-label">Предварительный просмотр:</label>
		<div id="Comment_prev">
			<table class="table table-borderless">
				<tr>
					<td class="table-primary" style="width:10%; word-wrap:normal">
						<b>Имя Фамилия</b>
						<br>
						01.01.2013
					</td>
					<td id="CommentAndFiles">
						<a style="display:inline; margin-right:10px" class="btn btn-outline-info btn-sm" onclick="document.getElementById('commentPreview').hidden = true;">Закрыть предварительный просмотр</a>
						<table class="table table-borderless">
							<tr>
								<td id="CommentPrevtd"></td>
							</tr>
						</table>

					</td>

				</tr>
			</table>
		</div>
	</div>
	<div class="form-group">
		<label>Прикрепите файлы:</label>
		<br>
		<input type="file" asp-for="UploadedFiles" multiple="" />
	</div>
	<div class="form-group">
		<input type="submit" value="Добавить" class="btn btn-outline-primary btn-block" />
	</div>
	<a class="btn btn-outline-secondary btn-block" asp-action="ForumNode" asp-controller="Forum" asp-route-NodeId="@Model.ParentNodeId">Назад</a>
</form>
<script>
	var togglePreviewCommentBtn = function (context) {
		var ui = $.summernote.ui;

		// create button
		var button = ui.button({
			contents: 'Preview',
			tooltip: 'Предварительный просмотр комментария',
			click: function () {
				if (document.getElementById('commentPreview').hidden) {
					//document.getElementById('CommentPrevtd').innerHTML = context.modules.editor.snapshot.contents;
					document.getElementById('CommentPrevtd').innerHTML = $('#text-editor').summernote('code');

					document.getElementById('commentPreview').hidden = false;
					return;
				}
				else {
					document.getElementById('CommentPrevtd').innerHTML = $('#text-editor').summernote('code');
				}
			}
		});

		return button.render();   // return button as jquery object
	}

	$(document).ready(function () {
		$('#text-editor').summernote({
			codeviewFilter: true,
			codeviewIframeFilter: true,
			height: 150,
			maxHeight: 400,
			minHeight: 100,
			toolbar: [
				['style', ['style']],
				['font', ['bold', 'italic', 'strikethrough', 'underline', 'clear']],
				['script', ['superscript', 'subscript']],
				['fontstyle', ['fontname', 'fontsize']],
				['color', ['color']],
				['para', ['ul', 'ol', 'paragraph']],
				['table', ['table']],
				['insert', ['link', 'picture', 'video']],
				['view', ['codeview', 'help']],
				['preview', ['prevBtn']]
			],
			buttons: {
				prevBtn: togglePreviewCommentBtn
			}
		});
	});
</script>