@model IOS_PROJECT3.ViewModels.CreateForumNodeViewModel
<h3>Создание ветки форума</h3>
<form method="post" asp-action="CreateForumNode" asp-controller="Forum">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="ParentNodeId" class="form-control" />
        <input type="hidden" asp-for="CreatorEmail" class="form-control" />
        <label asp-for="NodeName" class="control-label">Введите название:</label>
        <input type="text" asp-for="NodeName" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-outline-primary btn-block" />
    </div>
    <a class="btn btn-outline-secondary btn-block" asp-action="ForumNode" asp-controller="Forum" asp-route-NodeId="@Model.ParentNodeId">Назад</a>
</form>