@model IOS_PROJECT3.ViewModels.LoginViewModel
<h2>Вход в приложение</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div style="margin-top:10px">
        @*<label asp-for="Email" style="display:inline-flex;"></label><br />*@
        <input class="form-control" style="display:inline-flex; width:30%" asp-for="Email" placeholder="Введите email" />
        <span class="alert alert-primary" style="margin-right:40%; padding:5px;" asp-validation-for="Email"></span>
    </div>
    <div style="margin-top:10px">
        @*<label asp-for="Password" style="display:inline-flex;"></label><br />*@
        <input class="form-control" style="display:inline-flex; width:30%"asp-for="Password" placeholder="Введите пароль"/>
        <span class="alert alert-primary" style="margin-right:40%; padding:5px;" asp-validation-for="Password"></span>
    </div>
    <div style="margin-top:10px">
        <input class="btn btn-primary" type="submit" value="Войти" />
    </div>
</form>
