@model IOS_PROJECT3.ViewModels.LoginViewModel
<style>
 

    #loginBlock {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -65%)
    }
</style>

    <div id="loginBlock">
<h2>Вход в систему</h2>
        <br>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div style="margin-top:10px" asp-validation-summary="ModelOnly" class="text-danger list-unstyled"></div>
    <div style="margin-top:10px">
        @*<label asp-for="Email" style="display:inline-flex;"></label><br />*@
        <input class="form-control"  asp-for="Email" placeholder="Введите email" />   
    </div>
    <div style="margin-top:10px">
        @*<label asp-for="Password" style="display:inline-flex;"></label><br />*@
        <input class="form-control"  asp-for="Password" placeholder="Введите пароль" />
    </div>
    <div style="margin-top:10px">
        <input class="btn btn-outline-primary"  type="submit" value="Войти" />
    </div>
    <a style="margin-top:10px;" class="btn btn-outline-secondary" asp-action="Index" asp-controller="Home">Назад</a>
</form>
        </div>