@model IOS_PROJECT3.ViewModels.CreateDepartmentViewModel
@{
    ViewBag.Title = "Добавление кафедры";
}
@if (User.Identity.IsAuthenticated && (User.IsInRole("Manager")) || Model.userGrants.Contains(IOS_PROJECT3.Grants.Grants.Departments.Create))
{
    <form method="post" asp-action="Create" asp-controller="Departments">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <input type="hidden" asp-for="InstId" class="form-control" />
            <label asp-for="Name" class="control-label">Введите название:</label>
            <input type="text" asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="HeadTeacherId" class="control-label">Выберите заведующего:</label>
            <select asp-for="HeadTeacherId" class="form-control">
                @foreach (var man in Model.AvailableTeachers)
                {
                    <option value="@man.Id">@man.FIO</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-outline-primary btn-block" />
        </div>
        <a class="btn btn-outline-secondary btn-sm" style="position:fixed; top:80px; left:20px" asp-action="Index" asp-controller="Departments" asp-route-InstId="@Model.InstId">Назад</a>
    </form>
}
