<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Главная страница"] - IOS_PROJECT3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a font-size="200%" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b>ИОС СГТУ 2020</b></a>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">На главную</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a class="nav-link text-dark" asp-controller="PersonalPage" asp-action="Index">Персональная страница</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-controller="Forum" asp-action="ForumNode" asp-route-NodeId="1">Форум</a>
                            </li>
                            <li>
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <input class="btn btn-outline-secondary" style="position:absolute; right:3%" type="submit" value="Выход" />
                                </form>

                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <p class="nav-link text-dark" style="position:absolute; right:12%"><b>Авторизуйтесь, чтобы получить дополнительные возможности</b></p>
                            </li>
                            <li>
                                <form asp-controller="Account" asp-action="Login">
                                    <input class="btn btn-outline-secondary" style="position:absolute; right:3%" type="submit" value="Вход" />
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="line-height:30px">
        <div class="container">
            <p>Информационная образовательная среда</p>
            @if (User.Identity.IsAuthenticated)
            {
                <a class="btn btn-outline-danger btn-sm" style="position:absolute;right:3%;bottom:-50%"
                   asp-controller="Complains" asp-action="CreateComplain" asp-route-CreatorEmail="@User.Identity.Name">Оставить жалобу</a>
            }
        </div>
    </footer>
    <script>
        document.getElementById('GoBackBtn').innerHTML = '→';
        document.getElementById('GoBackBtn').title = 'Назад';
        $('footer').css()
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
