@model string
@{
}
@{
    ViewBag.Title = "Ошибка чтения Excel файла";
}
<h3>Ошибка чтения файла</h3>
<div class="alert alert-danger" role="alert">
    Во время чтения Excel файла произошла ошибка. Пожалуйста, убедитесь, что формат файла имеет расширение .xlsx, а данные располагаются на первом листе.
    Обращаем ваше внимание, что истинная причина ошибки может быть в другом (маловероятно), поэтому вы можете просмотреть полное сообщение об ошибке.
</div>
<label margin-right:5px;>Показать сообщение об ошибке </label>
<input type="checkbox" id="errorcheck" />
<div id="errormessage" class="alert alert-info" role="alert" hidden="hidden">
    <p>@ViewBag.Message</p>
</div>
<br>
<a class="btn btn-secondary" style="margin-top:5px" asp-controller="Home" asp-action="Index">На главную страницу</a>
<script>
    $('#errorcheck').on('click', function () {
        if ($(this).is(':checked')) {
            document.getElementById('errormessage').hidden = false;

        } else {
            document.getElementById('errormessage').hidden = true;
        }
    })</script>