@model IOS_PROJECT3.ViewModels.CreateComplainViewModel
<h3>Создание жалобы</h3>
<form method="post" asp-action="CreateComplain" asp-controller="Complains" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="PageLoads" value="@Model.PageLoads" class="form-control"/>
        <input type="hidden" asp-for="CreatorEmail" class="form-control" />
        <label asp-for="Subject" class="control-label">Введите тему:</label>
        <input type="text" asp-for="Subject" class="form-control" />
        <label asp-for="Text" class="control-label">Опишите проблему:</label>
        <textarea type="text" id="Multiline" asp-for="Text" class="form-control"></textarea>
    </div>
    <div class="form-check">
        <input type="checkbox" asp-for="Anon" class="form-check-input">
        <label asp-for="Anon" class="form-check-label">Анонимно</label>
    </div>
    <div class="form-group">
        <label>Прикрепите файлы (если необходимо):</label>
        <br>
        <div class="input-group">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile04" asp-for="UploadedFiles">
                <label class="custom-file-label" for="inputGroupFile04">Выберите файлы</label>
            </div>
            
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Оставить жалобу" class="btn btn-outline-primary btn-block" />

    </div>
    <button class="btn btn-outline-secondary btn-sm" style="position:fixed; top:80px; left:20px" onClick="history.go(-1*@Model.PageLoads); return false;">Назад</button>
</form>
