@{
    ViewBag.Title = "Неудачно";
}
@model string
<div class="alert alert-danger" role="alert">
    <h3 style="margin-bottom:10px">Сообщения не отправлены!</h3>
    <p><b>Причина: </b>@Model<p>

    <button class="btn btn-outline-primary" onClick="history.go(-2); return false;">Вернуться назад</button>
</div>
