@{
    ViewBag.Title = "Рассылка сообщений";

}
@model IOS_PROJECT3.ViewModels.MessageViewModel
    <form method="post" asp-controller="Message" asp-action="SendMessage">
        <input type="hidden" asp-for="ContainerId" />
        <input type="hidden" asp-for="ContainerType" />
        <input type="hidden" asp-for="SenderEmail" />
        <label asp-for="Message" class="control-label">Введите тему сообщения:</label>
        <input type="text" asp-for="Subject" class="form-control" />
        <label asp-for="Message" class="control-label">Введите сообщение:</label>
        <textarea  asp-for="Message" class="form-control" ></textarea>
        <label asp-for="SendToStudents" class="control-label">Включить студентов в рассылку:</label>
        <input type="checkbox" asp-for="SendToStudents" class="form-check-inline" />
        <br>
        <label asp-for="SendToStaff" class="control-label">Включить сотрудников в рассылку:</label>
        <input type="checkbox" asp-for="SendToStaff" class="form-check-inline" />
        <br>

        <input type="submit" value="Отправить" class="btn btn-primary" />
    </form>