@{
    ViewData["Title"] = "Главная страница";
}
@model IOS_PROJECT3.ViewModels.HomePageViewModel 
        <div class="institutes align-content-lg-center">
            <h3>Институты университета СГТУ</h3>
            @foreach (var inst in Model.Institutions)
            {

                <a style="display: block;margin-top: 10px" asp-controller="Departments" asp-action="Index" asp-route-InstId="@inst.Id"><b>@inst.Name</b></a>
                @foreach (var dep in Model.Departments)
                {
                    if (dep.Institution.Id == inst.Id)
                    {

                        <a style="display: block;margin-bottom: 2px;margin-left: 30px" asp-controller="Specialities" asp-action="Index" asp-route-DepId="@dep.Id">@dep.Name</a>
                    }
                }
            }
        </div>