@model string

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="Create" method="post">
        <div class="form-group">
            <label for="roleName">Введите имя новой роли</label>
            <input name="roleName" class="form-control" />
        </div>
        <button type="submit" class="btn btn-outline-primary btn-block">Добавить</button>
        <a class="btn btn-outline-secondary btn-sm" id="GoBackBtn" asp-action="Index" asp-controller="Roles">Назад</a>
    </form>
}
